
<section class="content-header">
<h1>
  Player
  <small>Edit</small>
</h1>
<ol class="breadcrumb">
  <li><%= link_to "<i class='fa fa-dashboard'></i> Player".html_safe , admin_players_path  %></li>
  <li class="active">Edit</li>
</ol>
</section>

<section class="content">
  <%= render 'form' %>
</section>
