<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="30" layout="column" ng-repeat="game in vm.games">
            <md-card style="background:rgb(230, 230, 230)">
                <md-card-header>
                    <md-card-avatar>
                        <md-icon class="md-avatar-icon" md-svg-icon="images/ic_more_vert_black_24px.svg"></md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{game.name}}</span>
                        <span class="md-subhead">Housie</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{game.game_image}}" alt="Washed Out" style="height:200px;width:auto;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{game.name}}</span>
                        <span class="md-subhead">{{game.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn" ui-sref="game({game:game})">Play this game</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="serverError" ng-if="$root.errorMessage">
            {{$root.errorMessage}}
        </div>
    </md-content>
</div>
