<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">

    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Admin Panel</li>

      <li class="treeview">
        <a href="<%= admin_games_path %>">
          <i class="fa fa-medkit"></i>
          <span>Games</span>

        </a>
      </li>
      <li class="treeview">
        <a href="<%= admin_winning_parts_path %>">
          <i class="fa fa-medkit"></i>
          <span>WinningPart</span>

        </a>
      </li>
      <li>
        <a href="<%=admin_players_path %>">
          <i class="fa fa-heartbeat"></i> <span>Players</span> <!-- <small class="label pull-right bg-green">new</small> -->
        </a>
      </li>
      <li>
        <a href="<%#= admin_care_team_toolboxes_path %>">
          <i class="fa fa-stethoscope"></i> <span>Winners</span> <!-- <small class="label pull-right bg-green">new</small> -->
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

<script type="text/javascript">
  $('.sidebar-menu li a').each(function(e) {
    var $this = $(this);
    var fullpath = location.pathname;
    var array_path = fullpath.split("/");
    var path = "/" + array_path[1] + "/" + array_path[2];
    if($this.attr("href") == path)
    {
      $this.parent().addClass("active");
      if($this.parent().parent().parent().hasClass("treeview"))
      {
        $this.parent().parent().parent().addClass("active");
      }
    }
  });
</script>