<div layout="row" class="login" ng-cloak>
  <div flex></div>
  <md-card class="loginContent">
        <form ng-submit="vm.changePassword()" name="form">
            <md-input-container class="md-icon-float md-block" ng-if="!vm.editMode">
                <label>Current Password</label>
                <md-icon md-svg-src="images/ic_lock_black_24px.svg"></md-icon>
                <input ng-model="vm.user['user[current_password]']" type="password" name="password" required>
            <div ng-messages="form.password.$error">
                <div ng-message="required">Current Password is required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" ng-if="!vm.editMode">
            <label>New Password</label>
            <md-icon md-svg-src="images/ic_lock_black_24px.svg"></md-icon>
            <input ng-model="vm.user['user[password]']" type="password" name="passwordNew" required>
            <div ng-messages="form.passwordNew.$error">
                <div ng-message="required">New Password is required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block" ng-if="!vm.editMode">
            <label>Confirm Password</label>
            <md-icon md-svg-src="images/ic_lock_black_24px.svg"></md-icon>
            <input ng-model="vm.user['user[password_confirm]']" compare-to="vm.user['user[password]']"  type="password" name="passwordConfirm" required>
            <div ng-messages="form.passwordConfirm.$error">
                <div ng-message="required">Confirm password is required</div>
                <div ng-message="compareTo">Confirm password is not matching with new password</div>
            </div>
        </md-input-container>
    </form>
    <md-button ng-click="vm.changePassword()" class="md-raised md-primary row loginButton">
        Change Password
    </md-button>
    <div class="serverError" ng-if="$root.errorMessage">
        {{$root.errorMessage}}
    </div>
  </md-card>
  <div flex></div>
</div>

