<div layout="row" class="login" ng-cloak>
  <div flex></div>
  <md-card class="loginContent">
    <form ng-submit="vm.login()" name="form">
        <md-input-container class="md-icon-float md-block">
            <label>Email</label>
            <md-icon md-svg-src="images/ic_mail_black_24px.svg"></md-icon>
            <input ng-model="vm.user.email" type="email" name="email" required>
            <div ng-messages="form.email.$error">
                <div ng-message="required">Email is required</div>
                <div ng-message="email">Email is invalid</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Password</label>
            <md-icon md-svg-src="images/ic_lock_black_24px.svg"></md-icon>
            <input ng-model="vm.user.password" required type="password" name="password">
            <div ng-messages="form.password.$error">
                <div ng-message="required">Password is required</div>
            </div>
        </md-input-container>
    </form>
    <md-button ng-click="vm.login()" class="md-raised md-primary row loginButton">Login</md-button>
    <div class="serverError" ng-if="$root.errorMessage">
        {{$root.errorMessage}}
    </div>
    <div layout="row" class="login_bottom">
        <md-button flex ui-sref="forgotPassword" md-no-ink class="md-primary">Forgot Password</md-button>
        <md-button flex ui-sref="signup" md-no-ink class="md-primary">Create Account</md-button>
    </div>
  </md-card>
  <div flex></div>
</div>

