<div layout="row" class="login" ng-cloak>
  <div flex></div>
  <md-card class="loginContent">
        <form ng-submit="vm.changePassword()" name="form">
            <md-input-container class="md-icon-float md-block" ng-if="!vm.editMode">
                <label>Email Address</label>
                <md-icon md-svg-src="images/ic_mail_black_24px.svg"></md-icon>
                <input ng-model="vm.user['user[current_password ]']" type="email" name="email" required>
                <div ng-messages="form.email.$error">
                    <div ng-message="required">Email is required</div>
                    <div ng-message="email">Email is not valid</div>
                </div>
            </md-input-container>
    </form>
    <md-button ng-click="vm.changePassword()" class="md-raised md-primary row loginButton">
        Reset Password
    </md-button>
    <div class="serverError" ng-if="$root.errorMessage">
        {{$root.errorMessage}}
    </div>
  </md-card>
  <div flex></div>
</div>

